
/* Media query for small screens */
@media screen and (max-width: 600px) {
  .cards-list {
    padding: 2em 1em;
  }

  .Card {
    flex-direction: column; /* Stack image and text vertically on smaller screens */
    align-items: center; /* Center content on smaller screens */
  }

  .Card--image {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
  
/*Changing font sizes on smartphone*/
  .Card--title {
    font-size: 1.5em;
  }

  .Card--date h3 {
    font-size: 0.8rem;
  }

  .Card--description {
    font-size: 0.6rem; 
  }

  .Card--location p {
    font-size: 0.8rem; 
  }

  .Card--link {
    font-size: 0.8rem; 
  }

  .Footer {
    padding: 10px; 
  }

  .Footer--mail {
    font-size: 0.8rem; 
  }

}

/* Default styles for large screens */

/* Stlying "body" of the page, so more where all the cards are going to show up*/

.cards-list {
  padding: 4em 3em;
  background-color: 	#202020;
}

/* Remove the border-bottom for the last card */
.Card:last-child {
  border-bottom: none;
  margin-bottom: none;
}

.cards-list > .Card + .Card {
  padding: 2em 2em;
  border-top: 1px solid white;
}

.cards-list .Card:first-child {
  padding-top: 0;
}

.cards-list .Card:last-child {
  padding-bottom: 0;
}

/* styling my navbar */
.NavBar {
  background-color: #f55a5a;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5;
  padding: 0 0;
}

.nav--title {
  color: black;
  font-size: 20px;
  font-family: Inter;
  margin-left: 8px; /* Adjust the margin as needed */
  letter-spacing: -0.075em;
  font-weight: 500;
}

.nav--logo {
  font-size: 25px;
}

nav {
  display: block;
}

/* Styling my Card components*/


.Card {
  display: flex;
  align-items: center;
  color: white;
  font-family: 'Inter';
  padding: 2em 2em;
  border-bottom: 1px solid var(--clr-text-light); /* Adjust the color as needed */
  margin-bottom: 0.5px; /* Adjust the spacing between cards as needed */
}

.Card--image {
  max-width: 320px;
  margin-right: 10px;
  border-radius: 3%;
  height: 200px;
  object-fit: cover;
  min-width: 300px;
}

.Card--text {
  flex: 1; /* Allow the text to take up remaining space */
  
}

.Card--location {
  display: flex;
  align-items: center; /* Align items vertically in the center */
  margin-bottom: 0; /* Remove bottom margin */
}

.Card--location p {
  margin-left: 8px; /* Add some margin between the icon and location text */
  font-size: 1em;
}

.Card--link {
  color: white; /* Adjust the link color as needed */
  text-decoration: underline; /* Add underline to the link */
  margin-left: 10px;
  font-size: 0.6em;
}

.Card--content {
    display: flex;
    flex-direction: column;
    margin-left: 8px; /* Add some margin between the image and text */
    
}
.Card--date{
  font-size: 0.9rem;
  
}
.Card--description {
  font-size: 0.7rem;
}

.Card--date h3 {
  margin: 0; /* Remove margin */
}

.Card--title {
  margin-bottom: 5px; /* Remove margin */
  margin-top: 0px;
  font-size: 2em;
}

/* Styling my footer */

.Footer {
    background-color: #f55a5a;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    
}

.Footer--mail{
 color: black;
}
